@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");
    
    var errorMessage = "";
    var successMessage = "";
    var archiveErrorMessage = "";
        
    var userName = "";
    var firstName = "";
    var lastName = "";

    if(IsPost)
    {   

            if (Request["submit"] == "Search")
            {
                userName = Request.Form["searchInput"];

                var user = db.Query("SELECT  fName, lName FROM Users WHERE userName = @0 ", userName);

                var count = db.QueryValue("SELECT COUNT(*) FROM Users WHERE userName = @0", userName);

                if(count > 0)
                {
                    foreach (var x in user)
                        {
                              firstName = @x.fName;
                              lastName = @x.lName;
                        }

                     errorMessage = "Are you sure you want to archive " + userName + "?";
                }
                else
                {
                    errorMessage = "Invalid User Name";
                }

            }

            if (Request["submit"] == "Archive")
            {
                 if ( userName== "" || errorMessage == "Invalid User Name")
                {
                    archiveErrorMessage = "You must specify a valid user.";
                }


                // If all information is valid, create a new account
                if (archiveErrorMessage=="")
                {
                userName = Request.Form["searchInput"];

                db.Execute("UPDATE Users SET status = 'Archived' WHERE userName = @0;", userName );

                successMessage = "Changes Saved.";

                userName = "";
                firstName =  "";
                lastName = "";
                }
            }
    }


}
<div>
    <h2>Archive User</h2>

    <form class='login' method="post">
        <input type="text" placeholder="Search by User Name..." name="searchInput" value="@userName" ></br>
        <input type="submit" name="submit" value="Search">
        </br></br>
		<p>@errorMessage</p> 	 
		 
        <button type="submit" name="submit" value="Archive">Archive</button>

        </br></br>
        <p>@archiveErrorMessage</p>
        <p>@successMessage</p>
    </form>
</div>