@{
    if(!WebSecurity.IsAuthenticated)
    {
      Response.Redirect("Index.cshtml");    
    }
    var db = Database.Open("ProjectManager");
    var userId = WebSecurity.CurrentUserId;
    var userRole = db.QueryValue("SELECT roleId FROM Users WHERE userId = @0", userId);
    var editRep = db.QueryValue("SELECT editRep FROM Roles WHERE roleId = @0", userRole);

    //incidents form population
    var incidentId = 0;

    IEnumerable<dynamic> reports = null;
    int reportsNumber = 0;

    DateTime lastLogin = db.QueryValue("SELECT lastLoginDate FROM Users WHERE userId = @0", userId);

    if(editRep == 1)
    {
        reports = db.Query("SELECT reportName, reportId, incidentId FROM Reports WHERE reportPostTime > @0 AND incidentId IN (SELECT incidentId FROM Incidents WHERE incidentOwner = @1 OR incidentCreator = @1)", lastLogin, userId);
        reportsNumber = db.QueryValue("SELECT COUNT(*) FROM Reports WHERE reportPostTime > @0 AND incidentId IN (SELECT incidentId FROM Incidents WHERE incidentOwner = @1 OR incidentCreator = @1)", lastLogin, userId);
    }
    else
    {
        reports = db.Query("SELECT reportName, reportId, incidentId FROM Reports WHERE reportPostTime > @0 AND incidentCreator = @1",lastLogin, userId);
        reportsNumber = db.QueryValue("SELECT COUNT(*) FROM Reports WHERE reportPostTime > @0 AND incidentCreator = @1",lastLogin, userId);
    }
    

    long[] reportsId = new long[reportsNumber];
    String[] reportsName = new String[reportsNumber];
    long[] incidentsId = new long[reportsNumber];
    var i = 0;
    foreach (var x in reports)
    {
          reportsId[i] = @x.reportId;
          reportsName[i] = @x.reportName;
          incidentsId[i] = @x.incidentId;
          i++;
    }

    String[] incidentsName = new String[reportsNumber];
    for(int j=0; j<incidentsId.Length; j++)
    {
        incidentsName[j] = db.QueryValue("SELECT incidentName FROM Incidents WHERE incidentId = @0", incidentsId[j]);
    }

    

    var comments = db.Query("SELECT commentId, comment, incidentId FROM InfoRequests WHERE userId = @0 AND status = 'unacknowledged'", userId);
    var commentsCount = db.QueryValue("SELECT COUNT(*) FROM InfoRequests WHERE userId = @0 AND status = 'unacknowledged'", userId);
    String[] commentsList = new String[commentsCount];
    long[] commentIds = new long[commentsCount];
    long[] incidentCommentIds = new long[commentsCount];
    String[] incidentCommentName = new String[commentsCount];



    var k = 0;
    foreach(var x in comments)
    {
        commentsList[k] = @x.comment;
        commentIds[k] = @x.commentId;
        incidentCommentIds[k] = @x.incidentId;
        k++;
    }
        for(int l=0; l<incidentCommentIds.Length; l++)
    {
        incidentCommentName[l] = db.QueryValue("SELECT incidentName FROM Incidents WHERE incidentId = @0", incidentCommentIds[l]);
    }
}

<div>
<h2>Welcome Back</h2>
    <form class="login" >

    <p class="title"> The following reports have been submitted since your last login and may require your attention</p>
    <ul>

      @for(int x=0; x<@reportsNumber; x++)
            {
               <li><a href="ViewReport.cshtml?id=@reportsId[x]"><p>@reportsName[x] submitted to the @incidentsName[x] Incident</p></a></li>
            }
    </ul>
    </form>

    <form class="login" >
    <p class="title"> The following requests have been submitted and may require your attention</p>
    <ul >

      @for(int x=0; x<@commentsCount; x++)
            {
               @:<li><p>@commentsList[x] submitted to the @incidentCommentName[x] Incident</p> <a href="Acknowledge.cshtml?id=@commentIds[x]"><p>Acknowledge</p></br></a> </li>
               
            }
    </ul>
    </form>
</div>