@{
         var editPermissions = 0;
         var createTemplate = 0;
         var editTemplate = 0;
         var closeReport = 0;
         var changeReportStatus = 0;
         var reopenReport = 0;
         var createReport = 0;
         var editReport = 0;
         var addAttachment = 0;
         var removeAttachment = 0;
         var roleId = 0;  
         var selected = 0;
    
    if(WebSecurity.IsAuthenticated)
     {
        var db = Database.Open("ProjectManager");

         var userId = WebSecurity.CurrentUserId;
         var userRole = db.QueryValue("SELECT roleId FROM Users WHERE userId = @0", userId);
         var role = db.Query("SELECT * FROM Roles WHERE roleId = @0", userRole);



     foreach (var x in role)
        {

             editPermissions = @x.rolesPermission;
             createTemplate = @x.createTemp;
             editTemplate = @x.editTemp;
             closeReport = @x.closeRep;
             changeReportStatus = @x.statusRep;
             reopenReport = @x.reopenRep;
             createReport = @x.createRep;
             editReport = @x.editRep;
             addAttachment = @x.addAttach;
             removeAttachment = @x.removeAttach;
        }
     }
    

    
}

<!-- Main Menu-->
<div id="navbar-parent">
<div id="cssmenu">
    <ul>
         @if(WebSecurity.IsAuthenticated)
     {
         <li><a class="inactive" href="Blank.cshtml">Home</a></li>
         
        if (editPermissions == 1)
        {
            <li class="inactive"><a class="inactive" href="NewUser.cshtml">Create User</a></li>
            <li class="inactive"><a class="inactive" href="EditUser.cshtml">Edit User</a></li>
            <li class="inactive"><a class="inactive" href="ArchiveUser.cshtml">Archive User</a></li>
            <li class="inactive"><a class="inactive" href="NewRole.cshtml">Create Role</a></li>
            <li class="inactive"><a class="inactive" href="DeleteRole.cshtml">Delete Role</a></li>
            <li class="inactive"><a class="inactive" href="EditRole.cshtml">Edit Role</a></li>
        }

        if (createReport == 1)
        {
            <li class="inactive"><a class="inactive" href="NewReportType.cshtml">Submit New Report</a></li>
            <li class="inactive"><a class="inactive" href="ManageReports.cshtml">Manage Reports</a></li>
        }
        if (changeReportStatus == 1 )
        {
            <li class="inactive"><a class="inactive" href="ManageIncidents.cshtml">Manage Incidents</a></li>
        }
        if (createTemplate == 1)
        {
            <li class="inactive"><a class="inactive" href="NewTemplate.cshtml">Create Template</a></li>
        }
        if (editTemplate ==1 )
        {
            <li class="inactive"><a class="inactive" href="ManageTemplates.cshtml">Manage Templates</a></li>
            <li class="inactive"><a class="inactive" href="DeleteTemplate.cshtml">Delete Templates</a></li>
        }<li class="inactive"><a class="inactive" href="Index.cshtml">Log Out</a></li>
    }
        
        
        
        
        
        
        
        
        
        
    </ul>
</div>
</div>

