@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");

    var userId = WebSecurity.CurrentUserId;
    var userRole = db.QueryValue("SELECT roleId FROM Users WHERE userId = @0", userId);
    var editRep = db.QueryValue("SELECT editRep FROM Roles WHERE roleId = @0", userRole);

    //active incidents form dropdown population
    var incidentId = 0;

    IEnumerable<dynamic> incidents = null;
    int incidentsNumber = 0;
    if(editRep == 1)
    {
        incidents = db.Query("SELECT incidentName, incidentId FROM Incidents WHERE status='Active' AND incidentOwner = @0 OR status='Active' AND incidentCreator = @0", userId);
        incidentsNumber = db.QueryValue("SELECT COUNT(*) FROM Incidents WHERE status='Active' AND incidentOwner = @0 OR status='Active' AND incidentCreator = @0", userId);
    }
    else
    {
        incidents = db.Query("SELECT incidentName, incidentId FROM Incidents WHERE status='Active' AND incidentCreator = @0", userId);
        incidentsNumber = db.QueryValue("SELECT COUNT(*) FROM Incidents WHERE status='Active' AND incidentCreator = @0", userId);
    }
    

    long[] incidentsId = new long[incidentsNumber];
    String[] incidentsName = new String[incidentsNumber];
    
    var i = 0;
    foreach (var x in incidents)
    {
          incidentsId[i] = @x.incidentId;
          incidentsName[i] = @x.incidentName;
          i++;
    }



    //archived incidents form dropdown population
    var archivedIncidentId = 0;

    IEnumerable<dynamic> archivedIncidents = null;
    int archivedIncidentsNumber = 0;
    if(editRep == 1)
    {
        archivedIncidents = db.Query("SELECT incidentName, incidentId FROM Incidents WHERE status='Archived' AND incidentOwner = @0 OR status='Archived' AND incidentCreator = @0", userId);
        archivedIncidentsNumber = db.QueryValue("SELECT COUNT(*) FROM Incidents WHERE status='Archived'  AND incidentOwner = @0 OR status='Archived' AND incidentCreator = @0", userId);
    }
    else
    {
        archivedIncidents = db.Query("SELECT incidentName, incidentId FROM Incidents WHERE status='Archived' AND incidentCreator = @0", userId);
        archivedIncidentsNumber = db.QueryValue("SELECT COUNT(*) FROM Incidents WHERE status='Archived' AND incidentCreator = @0", userId);
    }



    long[] archivedIncidentsId = new long[archivedIncidentsNumber];
    String[] archivedIncidentsName = new String[archivedIncidentsNumber];
    
    var j = 0;
    foreach (var x in archivedIncidents)
    {
          archivedIncidentsId[j] = @x.incidentId;
          archivedIncidentsName[j] = @x.incidentName;
          j++;
    }

   
    var reportsNumber = 0;
    long[] reportsId = new long[reportsNumber];
    String[] reportsName = new String[reportsNumber];


    if (IsPost)
    {
            
        

        if (Request["submit"] == "View Active Reports")
            {
                incidentId = Request.Form["incident"].AsInt();
                IEnumerable<dynamic> reports = null;
                if(editRep == 1)
                {
                    reports = db.Query("SELECT reportName, reportId FROM Reports WHERE incidentId=@0 ", incidentId);
                    reportsNumber = db.QueryValue("SELECT count(*) FROM Reports WHERE incidentId=@0", incidentId);
                }
                else
                {
                    reports = db.Query("SELECT reportName, reportId FROM Reports WHERE incidentId=@0 AND userId = @1", incidentId, userId);
                    reportsNumber = db.QueryValue("SELECT count(*) FROM Reports WHERE incidentId=@0 AND userId =@1", incidentId, userId);
                }

                Array.Resize(ref reportsId, reportsNumber);
                Array.Resize(ref reportsName, reportsNumber);
                var f = 0;
                foreach (var x in reports)
                {
                      reportsId[f] = @x.reportId;
                      reportsName[f] = @x.reportName;
                      f++;
                }
            }

        if (Request["submit"] == "View Archived Reports")
            {
                archivedIncidentId = Request.Form["archivedIncident"].AsInt();
                IEnumerable<dynamic> reports = null;
                if(editRep == 1)
                {
                    reports = db.Query("SELECT reportName, reportId FROM Reports WHERE incidentId=@0 ", archivedIncidentId);
                    reportsNumber = db.QueryValue("SELECT count(*) FROM Reports WHERE incidentId=@0", archivedIncidentId);
                }
                else
                {
                    reports = db.Query("SELECT reportName, reportId FROM Reports WHERE incidentId=@0 AND userId = @1", archivedIncidentId, userId);
                    reportsNumber = db.QueryValue("SELECT count(*) FROM Reports WHERE incidentId=@0 AND userId = @1", archivedIncidentId, userId);   
                }

                Array.Resize(ref reportsId, reportsNumber);
                Array.Resize(ref reportsName, reportsNumber);

                var f = 0;
                foreach (var x in reports)
                {
                      reportsId[f] = @x.reportId;
                      reportsName[f] = @x.reportName;
                      f++;
                }
            }

    }

}

<div>
    <h3>Please select an incident type</h3>
        <input type="radio" class ="type" name="type" value="Active" checked><label>Active</label> </br></br>
        <input type="radio" class ="type" name="type" value="Archived"><label>Archived</label> </br></br>
    <form class="login" id="Active" method="post">


        <p class="title">Please select an incident</p>
        <select name="incident"  id="incident" >
        
        @for(int x=0; x<incidentsNumber; x++)
        {
            if (@incidentsId[x] == @incidentId)
            {
                <option selected value=@incidentsId[x] >@incidentsName[x]</option>
            }   
            else
            {
                <option value=@incidentsId[x] >@incidentsName[x]</option>
            }
   
        }
    </select>

    </br></br>
    <button type="submit" name ="submit" value="View Active Reports">View Active Reports</button>
    </form>

    <form class="login"id="Archived" method="post">

        <p class="title">Please select an incident</p>
        <select name="archivedIncident" id="archivedIncident">
        
        @for(int x=0; x<archivedIncidentsNumber; x++)
        {
            if (@archivedIncidentsId[x] == @archivedIncidentId)
            {
                <option selected value=@archivedIncidentsId[x] >@archivedIncidentsName[x]</option>
            }   
            else
            {
                <option value=@archivedIncidentsId[x] >@archivedIncidentsName[x]</option>
            }
   
        }
    </select>

    </br></br>
    <button type="submit" name ="submit" value="View Archived Reports">View Archived Reports</button>
    </form>
    </br></br>
    <ul>
    @if(IsPost)
    {
       for(int x=0; x<@reportsNumber; x++)
            {
               <li><a href="ViewReport.cshtml?id=@reportsId[x]"><p>@reportsName[x]</p></a></li>
            }
    }
    </ul>


</div>

<script>
    $(document).ready(function () {
        $('#Archived').hide();

        $('.type').change(function () {

            if (this.value == 'Active') {
                $('#Archived').toggle();
                $('#Active').toggle();
            }
            else if (this.value == 'Archived') {
                $('#Archived').toggle();
                $('#Active').toggle();
            }
        });
    });
</script>