@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");



    //active incidents form dropdown population
    var incidentId = 0;
    var incidents = db.Query("SELECT incidentName, incidentId FROM Incidents WHERE status='Active' ");
    var incidentsNumber = db.QueryValue("SELECT COUNT(*) FROM Incidents WHERE status='Active'");

    long[] incidentsId = new long[incidentsNumber];
    String[] incidentsName = new String[incidentsNumber];
    
    var i = 0;
    foreach (var x in incidents)
    {
          incidentsId[i] = @x.incidentId;
          incidentsName[i] = @x.incidentName;
          i++;
    }



    //archived incidents form dropdown population
    var archivedIncidentId = 0;
    var archivedIncidents = db.Query("SELECT incidentName, incidentId FROM Incidents WHERE status='Archived' ");
    var archivedIncidentsNumber = db.QueryValue("SELECT COUNT(*) FROM Incidents WHERE status='Archived'");

    long[] archivedIncidentsId = new long[archivedIncidentsNumber];
    String[] archivedIncidentsName = new String[archivedIncidentsNumber];
    
    var j = 0;
    foreach (var x in archivedIncidents)
    {
          incidentsId[j] = @x.incidentId;
          incidentsName[j] = @x.incidentName;
          j++;
    }

   
    var reportsNumber = 0;
    long[] reportsId = new long[reportsNumber];
    String[] reportsName = new String[reportsNumber];

    if (IsPost)
    {
            
        

        if (Request["submit"] == "View Active Reports")
            {
                incidentId = Request.Form["incident"].AsInt();
                var reports = db.Query("SELECT reportName, reportId FROM Reports WHERE incidentId=@0 ", incidentId);

                reportsNumber = db.QueryValue("SELECT count(*) FROM Reports WHERE incidentId=@0", incidentId);
                Array.Resize(ref reportsId, reportsNumber);
                Array.Resize(ref reportsName, reportsNumber);
                var f = 0;
                foreach (var x in reports)
                {
                      reportsId[f] = @x.reportId;
                      reportsName[f] = @x.reportName;
                      f++;
                }
            }

        if (Request["submit"] == "View Archived Reports")
            {
                incidentId = Request.Form["archivedIncident"].AsInt();

                reportsNumber = db.QueryValue("SELECT count(*) FROM Reports WHERE incidentId=@0", incidentId);
                Array.Resize(ref reportsId, reportsNumber);
                Array.Resize(ref reportsName, reportsNumber);
                var reports = db.Query("SELECT reportName, reportId FROM Reports WHERE incidentId=@0 ", archivedIncidentId);
                var f = 0;
                foreach (var x in reports)
                {
                      reportsId[f] = @x.reportId;
                      reportsName[f] = @x.reportName;
                      f++;
                }
            }

    }

}

<div>
        <input type="radio" class ="type" name="type" value="Active" checked><p>Active</p> 
        <input type="radio" class ="type" name="type" value="Archived"><p>Archived</p> 
    <form id="Active" method="post">


        <p>Please select an incident</p>
        <select name="incident"  id="incident" >
        
        @for(int x=0; x<incidentsNumber; x++)
        {
            if (@incidentsId[x] == @incidentId)
            {
                <option selected value=@incidentsId[x] >@incidentsName[x]</option>
            }   
            else
            {
                <option value=@incidentsId[x] >@incidentsName[x]</option>
            }
   
        }
    </select>

    </br></br>
    <input type="submit" name ="submit" value="View Active Reports">
    </form>

    <form id="Archived" method="post">

        <p>Please select an incident</p>
        <select name="archivedIncident" id="archivedIncident">
        
        @for(int x=0; x<archivedIncidentsNumber; x++)
        {
            if (@archivedIncidentsId[x] == @archivedIncidentId)
            {
                <option selected value=@archivedIncidentsId[x] >@archivedIncidentsName[x]</option>
            }   
            else
            {
                <option value=@archivedIncidentsId[x] >@archivedIncidentsName[x]</option>
            }
   
        }
    </select>

    </br></br>
    <input type="submit" name ="submit" value="View Archived Reports">
    </form>
    </br></br>
    @if(IsPost)
    {
       for(int x=0; x<@reportsNumber; x++)
            {
               <a href="ViewReport.cshtml?id=@reportsId[x]"><p>@reportsName[x]</p></a></br>
            }
    }



</div>

<script>
    $(document).ready(function () {
        $('#Archived').hide();

        $('.type').change(function () {

            if (this.value == 'Active') {
                $('#Archived').toggle();
                $('#Active').toggle();
            }
            else if (this.value == 'Archived') {
                $('#Archived').toggle();
                $('#Active').toggle();
            }
        });
    });
</script>