@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");

    var reportId = Request["id"];
    var userReportId = db.QueryValue("SELECT userId FROM Reports WHERE reportId = @0", reportId);
    var reportUsername = db.QueryValue("SELECT userName FROM Users WHERE userId =@0", userReportId);
    var reportPostDate = db.QueryValue("SELECT reportPostTime FROM Reports WHERE reportId = @0", reportId);
    var templateObj = db.QueryValue("SELECT templateObj FROM Reports WHERE reportId = @0", reportId);
    var reportObj = db.QueryValue("SELECT reportObj FROM Reports WHERE reportId = @0", reportId);
    var image = db.QueryValue("SELECT image FROM Reports WHERE reportId= @0", reportId);
    var reportName = db.QueryValue("SELECT reportName FROM Reports WHERE reportId= @0", reportId);
    var userId = WebSecurity.CurrentUserId;
    var userRole = db.QueryValue("SELECT roleId FROM Users WHERE userId = @0", userId);
    var removeAttachment = db.QueryValue("SELECT removeAttach FROM Roles WHERE roleId = @0", userRole);
    var deleteRep = db.QueryValue("SELECT closeRep FROM Roles WHERE roleId = @0", userRole);
    var statusRep = db.QueryValue("SELECT statusRep FROM Roles WHERE roleId = @0", userRole);
    var reportStatus = db.QueryValue("SELECT reportStatus FROM Reports WHERE reportId = @0", reportId);
    var incidentId = db.QueryValue("SELECT incidentId FROM Reports WHERE reportId = @0", reportId);
    var successMessage = "";
    var deleteConfirm = 0;
    if(IsPost)
    {
        if (Request["submit"] == "Remove Attachment")   
        {
            db.Execute("UPDATE Reports SET image = null WHERE reportId=@0", reportId);
            image = null;
        }

        if (Request["submit"] == "Sign off")   
        {
            db.Execute("UPDATE Reports SET reportStatus = 'SignedOff' WHERE reportId=@0", reportId);
            successMessage="Report sign-off successful.";
        }

        if (Request["submit"] == "Register investigation")   
        {
            db.Execute("UPDATE Reports SET reportStatus = 'Investigation' WHERE reportId=@0", reportId);
            successMessage="Report now under investigation.";
        }

        if (Request["submit"] == "Request Additional Information")
        {
            Response.Redirect("AdditionalInfoRequest.cshtml?id="+userReportId+"&incidentId="+incidentId);
        }

        if (Request["submit"] == "Delete Report")
        {
            deleteConfirm = 1;
        }

        if (Request["submit"] == "Confirm Deletion")
        {
           db.Execute("DELETE FROM Reports WHERE reportId = @0", reportId);
           Response.Redirect("ManageReports.cshtml");
        }
    }
}
<link rel="stylesheet" type="text/css" media="screen" href="css/form-builder.css">

<form id="testForm" method="post">

    <h2>@reportName</h2></br>
    <h3>Report submitted by : @reportUsername</h3>
    <h3>Report posted at: @reportPostDate</h3>
    </br>
    <input type="text" name ="reportObj" id="form-builder-template" value="@templateObj" >
      
    <input hidden  type="text" id="serializedString"  name ="hiddenSerializeString" value="@reportObj" >

    @if(!(System.Convert.IsDBNull(image)) || image == null)
    {
        @:<img src="data:image;base64,@System.Convert.ToBase64String((byte[])image)" alt="image" />

        if(removeAttachment == 1)
        {
           @:</br>  <input type="submit" name ="submit" value="Remove Attachment">
        }
        
    }

    @if(statusRep == 1)
    {
           @:<input type="submit" name="submit" value="Request Additional Info"> 
    }

    @if(statusRep == 1 && reportStatus == "Pending" || statusRep == 1 && reportStatus == "Investigation")
    {
           @:<input type="submit" name="submit" value="Sign off"> 
    }
    @if(deleteRep == 1)
    {
           @:<input type="submit" name="submit" value="Delete Report"> 
            if(deleteConfirm ==1)
            {
               @:<p>Are you sure you wish to permenantly delete this report?</p> 
               @:<input type="submit" name="submit" value="Confirm Deletion">  
            }

    }
    @if(statusRep == 1 && reportStatus == "Pending")
    {
           @:<input type="submit" name="submit" value="Register investigation"> 
    }
    <p>@successMessage</p>
</form>

    

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="js/form-render.js"></script>
  <script src="js/jquery.deserialize.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            'use strict';
            var template = document.getElementById('form-builder-template');
            $(template).formRender();
        
            var serializedString = $('#serializedString').val();
            console.log(serializedString);

            $( '#testForm' ).deserialize( serializedString );
        });

    </script>